#acp_search_link	{
		color: rgb(255, 232, 153);
		font: normal normal bold 17px/1.2em Helvetica, Arial, sans-serif;
		transition: color 0.2s ease 0s;
		text-decoration:none;
}
#acp_search_link:hover	{
		color: rgb(51,51,51);
		transition: color 0.2s ease 0s;
		-webkit-transition-property: color;
		-webkit-transition-duration: 0.2s;
		-webkit-transition-timing-function: ease;
		-webkit-transition-delay: 0s;
		text-decoration:none;
}


.acp_modal_body {
	font: normal normal normal 17px/1.2em "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*transition: color 0.2s ease 0s;*/
	padding: 0;
	margin: 0;
	background-color: transparent;
	overflow-y: hidden;
 }
 
#isp_container {
	padding:0; margin:0;
}

#isp_container h1 {	padding:0;margin:0; font-size: 25px;	}
#isp_container p  {	color:#888;font-size: 16px/1.1em;	}
		
 /*
 #acp_magento_search_id_main_page { 
	width: 92%;
	padding: 8px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #222;
	background: #F7F7F7;
	outline: none;
	border-top: 1px solid #CCC;
	border-left:1px solid #CCC;
	border-right: 1px solid #E7E6E6;
	border-bottom: 1px solid #E7E6E6;
	margin:1px;
	font: normal normal normal 16px/1.1em "Helvetica Neue", Helvetica, Arial, sans-serif;

	background-image: url('http://clients.autocompleteplus.com/images/search_16.png');
	background-repeat: no-repeat;
	background-position: 96% 10px;	
}	

#acp_magento_search_id { 
	width: 90%;
	padding: 8px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #222;
	background: #F7F7F7;
	outline: none;
	border-top: 1px solid #CCC;
	border-left:1px solid #CCC;
	border-right: 1px solid #E7E6E6;
	border-bottom: 1px solid #E7E6E6;
	margin-left:20px;
	font: normal normal normal 16px/1.1em "Helvetica Neue", Helvetica, Arial, sans-serif;

	background-image: url('http://wix.instantsearchplus.com/wix_widget/images/search_16.png');
	background-repeat: no-repeat;
	background-position: 98% 10px;
	}
*/
 	
 
 #acp_header {
	background: url(http://wix.instantsearchplus.com/wix_widget/images/hd-bg.png);
	/*background-color:#eaeaea;*/
	padding-top: 20px;
	margin: 0;
	padding-left: 20px;
	padding-bottom: 1px;
	margin-bottom: 5px;
	border-bottom: 1px solid #CCC; 
 }
 
 
 
	.search-container	{
		min-width:200px;
		width: 100%;
		overflow: hidden;
		height: 100%;		
	}
	.search-container-modal	{
		min-width:200px;
		width: 100%;
		overflow: hidden;	
		height: 40px;
	}
	
	input.search-box {		
		font-size: 16px;
		font-family:inherit;
		margin: 0px;
		
		/*
		width: -moz-calc(100% - 30px ); 		
		width: -webkit-calc(100% - 30px );	
		width: -o-calc(100% - 30px );		
		width: calc(100% - 30px );
		*/
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		
		border-radius:3px;
		border: 1px solid #ccc;
		padding-left:7px;
		padding-right:0px;
		line-height:24px; 
		height: 85%;
		box-shadow: 0px 1px 6px -2px rgba(0, 0, 0, 0.5) inset;	//  inset;		
		background-color: #fff;
		
		-webkit-transition: width 0.0s linear;
		-moz-transition: width 0.0s linear;
		transition: width 0.0s linear;
		
		position:absolute;
		top:0px;
		left:0px;
		
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-left:23px; 
		
	}
	
	input.search-box:focus{
		outline: 0px;
	}

	
	input.grey {
		color: #C0C0C0;				
		background: #fff url('../images/search_icon2.png') no-repeat 5px center;
		box-sizing: border-box;
	}
	
	input.typing_box {
		z-index: 999;		
		border: 1px solid transparent;
		border-radius:0px;
		box-shadow: none;
		background-color: transparent;
		/*
		width: -moz-calc(100%- 30px); 		
		width: -webkit-calc(100% - 30px);	
		width: -o-calc(100%- 30px );		
		width: calc(100%- 30px );
		*/
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	
	
	input::-ms-clear, input::-ms-reveal {display: none; width : 0;    height: 0;	}
    	

	.submit-button {
		background: #4796F0;
		padding: 0;
		background-image: linear-gradient(bottom, 			rgb(79,171,241) 100%, rgb(71,150,240) 0%);
		background-image: -o-linear-gradient(bottom, 		rgb(79,171,241) 100%, rgb(71,150,240) 0%);
		background-image: -moz-linear-gradient(bottom, 		rgb(79,171,241) 100%, rgb(71,150,240) 0%);
		background-image: -webkit-linear-gradient(bottom, 	rgb(79,171,241) 100%, rgb(71,150,240) 0%);
		background-image: -ms-linear-gradient(bottom, #4FABF1 100%, #4796F0 0%);
		background-image: -webkit-gradient( linear, left bottom, left top, color-stop(1, rgb(79,171,241)), color-stop(0, rgb(71,150,240)) );
		border-radius: 0 5px 5px 0;
		padding: 0px 3px;
		text-indent: -99999px;
		display: inline-block;
		float: right;
		border-right: 1px solid hsl(204, 80%, 50%);
		border-top: 1px solid hsl(204, 80%, 50%);
		border-bottom: 1px solid hsl(204, 40%, 50%);
		border-left: 1px solid hsl(204, 40%, 50%);
		height: 38px;
		cursor: pointer;
		width: 39px;
		min-width:39px;
		margin-right:5px;
	}
	
	
	

	.submit-button .img {
		background: url('../images/wix_widget_search2.png') 0 0 no-repeat;
		width: 20px;
		height: 22px;
		display: block;
		position: relative;
		bottom: 10px;
		margin-left: 9px;
	}


#search_res_container	{
	padding-left:20px;padding-right:20px;
	padding-bottom:0;
	padding-top:5px;
	overflow-y:auto;
	height:500px;
	
	transition: all 0.6s ease-in-out;     
    /* Let's enforce some hardware acceleration */
    /*-webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;*/
}

.search_res_item_title	{
	font-size: 16px;	
	overflow:hidden;
	white-space: nowrap;
}

.search_res_item_snippet	{
	color: #444;	
	font-size: 13px;
	margin-bottom: 7px;
	height: 60px;
	overflow-y: hidden;
}

.search_res_img_container	{
	float:left;margin-right:5px;
}

.search_res_img	{
	max-height: 50px;
	max-width: 50px;
	margin-right: 5px;
	margin-left: 5px;
	padding: 3px;
	-webkit-box-shadow: 0 0 4px #333;
	-moz-box-shadow: 0 0 4px #333;
	-o-box-shadow: 0 0 4px #333;
	-ms-box-shadow: 0 0 4px #333;
	box-shadow: 0 0 4px #333;
	margin-top: 2px;
}

.search_res_img_text_p {
 color:inherit !important;
 margin:0;height:60px;
 overflow:hidden;	
}

.search_pager	{
	margin-right: 10px;
	font-size: 13px;
}

.search_pager_selected	{
	margin-right: 10px;
	font-weight: bold;
	font-size: 13px;
}

.search_footer_paging	{
	/*
	margin-top: 0px;
	margin-left: 10px;
	bottom: 30px;
	*/
	position: relative;
	text-align: center;
	padding-top:1px;
}	

.search_res_not_found_msg	{
	border-bottom: 1px dotted #CCCCCC;
    clear: both;
    display: block;
    font-size: 13px;
    margin: 0px;
    padding-bottom: 5px;
	color: rgb(221, 75, 57);
	margin-bottom: 5px;
	padding-left:10px;
}

.search_res_found	{
	border-bottom: 1px dotted #CCCCCC;
    clear: both;
    display: block;
    font-size: 13px;
    margin: 0px;
    padding-bottom: 5px;
	color: #444;
	margin-bottom: 5px;
	padding-left:10px;
}

.in_category {
	color: #666;
}
.search_res_found_highlight	{
	background: none repeat scroll 0 0 #FFFFAA;
    text-decoration: inherit;
	color: black;
}

.search_res_not_found_highlight	{
	text-decoration: underline;
	font-weight:bold;
}

.search_res_not_found_site_url {
	text-decoration: underline;
}

.search_res_not_found a {
	font-weight:bold;
}

.search_res_did_you_mean	{
	color: #111;
}

.isp_transparent_icon  {
	position:absolute;
	left: 0px;
	width: 20px;
	height: 90%;
	z-index:9999;
	background-color: transparent;
	top: 0px;
	cursor: pointer;
}

.search_res_item { 
	padding-left:10px;	
	border-bottom: 1px solid #f1f1f1;
	margin-top: 3px;
}

.related_item {
	margin-right:25px;
	white-space: nowrap;
}

.search_ads {
	background-color: #fff7ed;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-bottom: 4px;
	margin-top: 3px;
	color: #666;
	width: 97%;
	font-size:16px; 
	padding-left: 10px;
	padding-right:10px;
	/*white-space: nowrap;*/
	overflow: hidden;
}

/*
.isp_footer{
	position: absolute;
	bottom: 5px;
	right: 20px;
	font-family: Arial;
	font-size: 11px;
	color: #aaa;
	vertical-align: middle;	
	text-decoration:none;
}
*/
/*
.isp_footer_text {
	vertical-align: super;
	text-decoration: underline;
}
*/

.isp_watermark {
	position: relative;
	bottom: 5px;	
	font-family: Arial;
	font-size: 11px;
	color: #aaa;
	vertical-align: middle;
	text-decoration: none;
	float: right;
	margin-right: 87px;	
	cursor: pointer;
	z-index: 999999;
	margin-top: -1px;
	opacity: 0.6;
	display:none;
	direction: ltr;
}

.isp_watermark:hover	{
	opacity: 1;
	text-decoration: none;
}

.isp_watermark_text {
	vertical-align: super;
	text-decoration: none;
}

#search_res_progress, #search_res_progress_images	{
	font-size:11px;
	margin: 20px auto -10px;
	width: 100%;
	height: 40px;
	padding-top: 20px;
	text-indent: 0;
	text-align: center;
	background: url(../../images/progress4.gif) center top no-repeat;	
}




.stacked_image_container {
    /*list-style-type: none;
    margin: 0;
    padding: 0;
    
    width: 100%;
    clear: both;*/
    padding-top:7px;
    padding-left:7px;
    float: left;
	margin-right: 15px;
}

/* The three rotated elements */
.stack_holder, .stacker_hold, .stack_img {
    border: 0;
    display: inline-block; /* Isn't really required if float: left is included but would it'd be nice to remove the float one day. */
    float: left; /* Fixes bug in FF where inline elements don't seem to rotate on the correct axis. */
    background-color: #fff;
    -webkit-box-shadow: 0 0 4px #333;
    -moz-box-shadow: 0 0 4px #333;
    -o-box-shadow: 0 0 4px #333;
    -ms-box-shadow: 0 0 4px #333;
    box-shadow: 0 0 4px #333;
}

/* First rotation */
.stack_holder {
    /*margin: 0 25px 25px 0;*/
    padding: 1px;
    -webkit-transform: rotate(9deg);
    -moz-transform: rotate(9deg);
    -o-transform: rotate(9deg);
    -ms-transform: rotate(9deg);
    transform: rotate(9deg);
}

/* Second rotation will appear as -2deg. */
.stacker_hold {
    padding: 0;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

/* Third rotation will appear as 0. */
.stack_img {
    padding: 3px;
    -webkit-transform: rotate(9deg);
    -moz-transform: rotate(9deg);
    -o-transform: rotate(9deg);
    -ms-transform: rotate(9deg);
    transform: rotate(9deg);
    width:40px;
    height:40px;
}

.product_colors {
	
}

.product_color {
	width: 16px;
	height: 16px;
	border: 1px solid black;
	margin-right: 3px;
	display: inline-block;
	vertical-align:sub;
}

ul {
	margin-top:0;
	margin-bottom:0;
}
.contact_form_p {
	padding-left: 10px;
	margin-left:30px;
	margin-top:0;
	
}
.contact_form_text {
	width: 700px; height: 53px; margin-left: 0px; margin-top:3px; margin-bottom:3px;
}

.contact_form_email {
	height: 24px;    padding-left: 3px;    margin-bottom: 4px;
}
.contact_form_button {
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.isp_share_button:hover	{
	opacity: 1;
}
.isp_share_button {
	border:0;
	cursor:pointer;
	vertical-align:text-top;
	margin-left:5px;
	opacity:0.7;
	border-radius:2px;
}

input, textarea, select {
   -webkit-appearance: none;	/* Avoid iPod or iPhone CSS shitcks */
}

.ext_link {
 border:0;
 vertical-align: text-bottom;
}

.img_hover_div {
	bottom: 0px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: none;
	font-family: arial, sans-serif;
	font-size: 10.909090995788574px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: auto;
	line-height: 11px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	right: 0px;
	text-align: left;
	visibility: visible;
	/*white-space: nowrap;*/
	width: 100%;
	zoom: 1;
	position:relative;
	margin-bottom: 0px;
}
.img_hover_div2 {
	webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(51, 51, 51, 0.8);
	background-image: none;
	background-origin: padding-box;
	background-size: auto;
	bottom: 0px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: block;
	font-family: arial, sans-serif;
	font-size: 10.909090995788574px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: auto;
	line-height: 11px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-left: 0px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	position: absolute;
	right: 0px;
	text-align: left;
	visibility: visible;
	/*white-space: nowrap;*/
	width: 100%;
	zoom: 1;
}

.img_hover_span	{
	bottom: 0px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: block;
	
	font-family: arial, sans-serif;
	font-size: 10.909090995788574px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: auto;
	line-height: 11px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	overflow-x: hidden;
	overflow-y: hidden;
	text-align: left;
	text-overflow: ellipsis;
	visibility: visible;
	/*white-space: nowrap;*/
	width: auto;
	zoom: 1;
	
}

.rank_btn {
	cursor: pointer;
	vertical-align: text-top;
	opacity:0.7;
}
.rank_btn:hover {	
	opacity:1
}


.color_facet {
	width: 20px;height: 20px;border:1px solid #111;display: block;
}
.color_facet_header {
	width: 20px;height: 20px;border:1px solid #111;
	display: inline-block;
	vertical-align: bottom;
}

.selected_facet_value { 
	background-image: url(//ssl.gstatic.com/ui/v1/menu/checkmark2.png);
	background-position: left center;
	background-repeat: no-repeat;
}

